<style>
	body {

		background: <%= @color %>;

	}
</style>

<h1>About my travel site</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<ul>
	<% @pics.each do |pics| %>
		<li><%= image_tag pics %></li> 
	<% end %>
</ul>

<p>My totes fav color is <%= @color %>. DUH.</p>

<% if @size.to_i <= 12 %>
	<p> Your tiny shoes are only size <%= @size %> ? </p>
	<% else %>
	<p> Damn BigFoot! You have a size <%= @size %> ? </p>
<% end %>







